<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
       <ul>
           <li v-for="good in goodList" v-bind:key="good.goodName">
               <span>{{good.goodName}}</span>
               --<span>{{good.price}}</span>
               --<span><input type="number" v-model="good.count"></span>
               --<span>{{good.price*good.count}}元</span>
           </li>
       </ul>
       <h2>总价为：{{totalPrice}}元</h2>
    </div>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                goodList:[
                    {goodName:"衣服",price:100,count:1},
                    {goodName:"鞋子",price:200,count:2},
                    {goodName:"bread",price:40,count:3},
                    {goodName:"vegetabel",price:10,count:4}
                ],
                totalPrice:0         
            },
            watch:{
                goodList:{
                    deep:true,
                    handler:function(newVal){
                        //newVal实际上指向了更新后的goodList
                        var result=0;
                        //good代表数组迭代出来的每一个元素，index是它的数组索引
                        newVal.forEach(function(good,index){
                            result+=good.price*good.count;
                        });
                        this.totalPrice=result;
                    }
                }
            }
        })
    </script>

    
</body>
</html>